.DS_Store
.idea
disc
grad_proj
hw
lec
other
proj
.OTTER_LOG

lab/lab02
lab/lab03
lab/lab04
lab/lab05
lab/lab06
lab/lab07
lab/lab08
lab/lab09
lab/lab10
lab/lab11
lab/lab12
lab/lab13
lab/lab14
lab/README.md
